body {
    width: 80%;
    margin: 0px  auto;
}

#head {
    border: 1px red solid;
    margin: 10px;
    height: 100px;
}

#logo{
    height: 20px;
    width: 200px;
    border: 1px blue solid;
    float: left;
}

#navmenu {
    border: 1px blue solid;
    height: 20px;
    width: 80%;
    text-align: right;
}

#menu {
    list-style-type:none;
    margin:0;
    padding:0;
}

#navmenu li {
    display:inline;
    text-align: right;
}
a:link {
    color: #000;;
}
a:visited {
    color: #000;;
}
a:active {
    color: #000;
}
a:hover {
    color: #000;
}

#cu{
    font-weight: bold;
}

#main {
    border: 1px blue solid;
    margin: 10px;
    height: 200px;
}

#quest {
    border: 1px yellow solid;
    margin: 10px;
    height: 200px;
}

#outline {
    border: 1px black solid;
    margin: 10px;
    height: 200px;
}

#teach {
    border: 1px darkcyan solid;
    margin: 10px;
    height: 200px;
}

#connect {
    border: 1px pink solid;
    height: 200px;
    margin: 10px;
}

#inconnect {
    width: 80%;
    margin: 0px auto;
    font-size: 1.56em;
}


#foot {
    margin: 10px;
    height: auto;
    text-align: center;
}

#cleft {
    float: left;
    border: 1px darkcyan solid;

}

#cright{
    float: right;
    border: 1px darkcyan solid;
}
